{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Long lived load balancer for {{ alb_dns_name|default('something...presumably') }}",
  "Parameters": {
    "VPC" : {
      "Type" : "AWS::EC2::VPC::Id"
    },
    "SubnetIDs" : {
      "Type": "List<AWS::EC2::Subnet::Id>",
      "Description": "List of an existing subnet IDs to use for the load balancer and auto scaling group"
    }
  },
  "Resources": {
    "LoadBalancerSecurityGroup": {
      "Type" : "AWS::EC2::SecurityGroup",
      "Properties": {
        "VpcId": { "Ref" : "VPC" },
        "GroupDescription": "Load Balancers in this security group are allowed to connect to instances in the corresponding LoadBalancerBackendSecurityGroup in this stack",
        "SecurityGroupIngress": [
        {# allow connections on each listener's InstancePort #}
        {% if alb_scheme == 'internal' %}{# each internal cidr per each listener, for internal ALBs #}
        {% for listener in alb_listeners %}
        {% for cidr in alb_internal_cidrs %}
        { "FromPort": "{{ listener.port }}", "ToPort": "{{ listener.port }}", "IpProtocol": "tcp", "CidrIp": "{{ cidr }}" } {% if not loop.last %}, {% endif %}
        {% endfor %}
        {% if not loop.last %}, {% endif %}
        {% endfor %}
        {% else %}{# each listener allowed from 0.0.0.0/0, for internet-facing ALBs #}
        {% for listener in alb_listeners %}
        {% for source in listener.sources|default(['0.0.0.0/0']) %}
        { "FromPort": "{{ listener.port }}", "ToPort": "{{ listener.port }}", "IpProtocol": "tcp", "CidrIp": "{{ listener.source | default('0.0.0.0/0')}}" } {% if not loop.last %}, {% endif %}
        {% endfor %}
        {% if not loop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        ]
      }
    },
    "LoadBalancerBackendSecurityGroup": {
      "Type" : "AWS::EC2::SecurityGroup",
      "Properties": {
        "VpcId": { "Ref" : "VPC" },
        "GroupDescription": "Instances in this security group allow connections from the corresponding LoadBalancerSecurityGroup; it should be applied to backends of this long lived load balancer",
        "SecurityGroupIngress": [
        {# allow connections from LoadBalancerSecurityGroup on each listener's InstancePort #}
        {% for listener in alb_listeners %}
          {
            "FromPort": "{{ listener.instancePort }}",
            "ToPort": "{{ listener.instancePort }}",
            "IpProtocol": "http",
            "SourceSecurityGroupId": { "Ref": "LoadBalancerSecurityGroup" }
          }{% if not loop.last %}, {% endif %}
        {% endfor %}
        ]
      }
    },
    {# finally, create an egress rule for each listener, for the backend instance port from the ALB
       this is a separate resource because the security groups are inter-dependent #}
    {% for listener in alb_listeners %}
      "ALB{{listener.port}}to{{listener.instancePort}}": {
        "Type": "AWS::EC2::SecurityGroupEgress",
        "Properties": {
          "GroupId": { "Ref": "LoadBalancerSecurityGroup" },
          "IpProtocol": "tcp",
          "FromPort": "{{ listener.instancePort }}",
          "ToPort": "{{ listener.instancePort }}",
          "DestinationSecurityGroupId": { "Ref": "LoadBalancerBackendSecurityGroup" }
        }
      } {% if not loop.last %}, {% endif %}
    {% endfor %}
    "ApplicationLoadBalancer": {
      "Type": "AWS::ElasticLoadBalancingV2::LoadBalancer",
      "Properties": {
        "Scheme": "{{ alb_scheme }}",
        "Subnets": { "Ref" : "SubnetIDs" },
        {% if alb_attributes is defined %}
        "LoadBalancerAttributes" : [
          {% if alb_logging_enabled is defined %}
            {
            "Key" : "access_logs.s3.enabled",
            "Value" : "{{ alb_logging_enabled }}"
            }
          {% endif %}
          {% if alb_logging_enabled is defined and alb_logging_enabled == 'true' %}
          ,{
            "Key" : "access_logs.s3.bucket",
            "Value" : "{{ alb_logging_bucket }}"
          }
          {% endif %}
          {% if alb_logging_enabled is defined and alb_logging_enabled == 'true' %}
          ,{
            "Key" : "access_logs.s3.prefix",
            "Value" : "{{ alb_logging_prefix }}",
          }
          {% endif %}
          {% if alb_deletion_protection is defined %}
          ,{
            "Key" : "deletion_protection.enabled",
            "Value" : "{{ alb_deletion_protection }}"
          }
          {% endif %}
          {% if alb_idle_timeout_seconds is defined %}
          ,{
            "Key" : "idle_timeout.timeout_seconds",
            "Value" : "{{ alb_idle_timeout_seconds }}"
          }
          {% endif %}
        ],
        {% endif %}
        "SecurityGroups": [ { "Ref": "LoadBalancerSecurityGroup" } ],
        "Tags" : [ { "Ref": "Tags" }]
      }
    },
    {% for listener in alb_listeners %}
    "{{ listener.name }}":{
    "Type" : "AWS::ElasticLoadBalancingV2::Listener",
    "Properties" : {
      {% if listener.protocol == 'https' and listener.certificates is defined %}
      "Certificates" : [
        {% for certificate in listener.certificates %}
        { "CertificateArn" : "{{ certificate.certificate_arn }}" } {% if not loop.last %}, {% endif %}
        {% endfor %}
      ],
      {% endif %}
      "DefaultActions" : [{
        "Type" : "{{ listener.type }}",
        "TargetGroupArn" : { "Ref" : "{{ listener.target_group_name }}" }
      }],
      "LoadBalancerArn" : { "Ref" : "{{ listener.load_balancer_arn }}" } ,
      "Port" : "{{ listener.port }}",
      "Protocol" : "{{ listener.protocol }}"
      {% if listener.ssl_policy is defined %}ß
      , "SslPolicy" : "{{ listener.ssl_policy }}"
      {% endif %}
    }
  } {% if not loop.last %}, {% endif %}
  ,
  {% endfor %}
    {# Create the target group for the Application Load Balancer #}
    {% for target_group in alb_target_groups %}
    "{{ target_group.name }}":{
      "Type" : "AWS::ElasticLoadBalancingV2::TargetGroup",
      "Properties" : {
        "HealthCheckIntervalSeconds" : "{{ target_group.health_check_interval_seconds }}",
        "HealthCheckPath" : "{{ target_group.health_check_path }}",
        "HealthCheckPort" : "{{ target_group.health_check_port }}",
        "HealthCheckProtocol" : "{{ target_group.health_check_protocol }}",
        "HealthCheckTimeoutSeconds" : "{{ target_group.health_check_timeout_seconds }}",
        "HealthyThresholdCount" : "{{ target_group.healthy_threshold_count }}",
        "Matcher" : "{{ target_group.matcher }}",
        "Name" : "{{ target_group.name }}",
        "Port" : "{{ target_group.port }}",
        "Protocol" : "{{ target_group.protocol }}",
        {# Not really sure how to handle these as they're lists but do they need to be variables?? #}
        "Tags" : [ { "Ref": "Tags" } ],
        "TargetGroupAttributes" : [
          { "Key" : "deregistration_delay.timeout_seconds", "Value" : "{{ target_group.deregistration_delay_timeout }}" },
          { "Key" : "stickiness.enabled", "Value" : "{{ target_group.stickiness_enabled }}" },
          { "Key" : "stickiness.type", "Value" : "{{ target_group.stickiness_type }}" },
          { "Key" : "stickiness.lb_cookie.duration_seconds", "Value" : "{{ target_group.stickiness_lb_cookie_duration }}" }
         ],
        "Targets" : [
        {% for target in target_group.targets %}
          { "Id": "{{ target.id }}", "Port": "{{ target.port }}" }{% if not loop.last %}, {% endif %}
        {% endfor %}
        ],
        "UnhealthyThresholdCount" : "{{ target_group.unhealthy_threshold_count }}",
        "VpcId" : { "Ref" : "VPC" }
    }
  } {% if not loop.last %}, {% endif %}
  ,
  {% endfor %}
  {# Create the listener rules for the Application Load Balancer Listener and TargetGroup #}
  {% for rule in alb_listener_rules %}
    "{{ rule.name }}":{
      "Type": "AWS::ElasticLoadBalancingV2::ListenerRule",
      "Properties": {
        {% for action in rule.actions %}
        {
          "Type":"{{ action.type }}"
          "TargetGroupArn": { "Ref" "{{ action.target_group_name }}" }
        }
        {% if not loop.last %}, {% endif %}
        {% endfor %}

        "Conditions": [{
          "Field": "path-pattern",
          "Values": [ "{{ rule.pattern }}" ]
        }],
        "ListenerArn": { "Ref": "ApplicationLoadBalancerListener"},
        "Priority": "{{ rule.priority }}"
      }
    } {% if not loop.last %}, {% endif %}
    {% endfor %}
    {% if alb_dns_name is defined %}
    ,
    "DNSRecord" : {
      "Type" : "AWS::Route53::RecordSetGroup",
      "Properties" : {
        "HostedZoneName" : {% if alb_zone_name is defined %}"{{ alb_zone_name | regex_replace('([^.])$', '\\1.') }}"{% else %}"{{ alb_dns_name | regex_replace('([^.])$', '\\1.') }}"{% endif %},
        "Comment" : "alias targeted to LoadBalancer for {{alb_stack_name}}",
        "RecordSets" : [
          {
            "Name" : "{{ alb_dns_name }}",
            "Type" : "A",
            "AliasTarget" : {
              "DNSName" : { "Fn::GetAtt" : ["LoadBalancer", "DNSName"] },
              "HostedZoneId" : { "Fn::GetAtt" : ["LoadBalancer","CanonicalHostedZoneNameID"] }
            }
          }
        ]
      }
    }
    {% endif %}
  },
  "Outputs": {
    "LoadBalancerName": {
      "Description": "Long Lived Load Balancer name",
      "Value": {"Ref": "LoadBalancer" }
    },
    "TargetSecurityGroupId": {
      "Description": "Add backends to this security group to allow access from the ALB",
      "Value": {"Ref": "LoadBalancerBackendSecurityGroup"}
    },
    "DnsName": {
      "Description": "Add backends to this security group to allow access from the ALB",
      "Value": {"Fn::GetAtt": [ "LoadBalancer", "DNSName" ]}
    }
  }
}
